@media screen and (max-width: 768px){
	.bg_style_2 ul li{
		width: 50%;
		margin-bottom: 30px;
	}
	.bg_style_3 ul li{
		width: 50%;
		margin-bottom: 30px;
	}
	.bg_style_4 ul li{
		width: 50%;
		margin-bottom: 30px;
	}
	.bg_style_5 .tabs ul li{
		float: none;
		width: 50%;
		margin:10px 110px;
	}
	.bg_style_6 .comment{
		    width: 100%;
		    float: left;
		    margin: 10px 120px;
	}
	.bg_style_7 p{
		margin: 50px;
	}
	.bg_style_7 form textarea{
		width: 90%;
	} 
}
@media screen and (max-width: 480px){
	.bg_style_1 p{
		font-size: 40px;
	}

	.bg_style_2 p{
		font-size: 17px;
	}
	.bg_style_1 .cuda_logo{
		display: block;
		text-align: center;
	}
	.bg_style_1 .menu{
		text-align: center;
	    margin-top: 30px;
	    margin-bottom: 30px;
	    float: none;
	}
	.bg_style_1 .menu li{
		text-align: center;
    	width: 20%;
	}
	.bg_style_2 ul li{
		width: 100%;
	}
	.bg_style_3 ul li{
		width: 100%;
	}
	.bg_style_3 ul li p{
		margin: 5px;
	}
	.bg_style_4 p{
		margin: 5px;
	}
	.bg_style_4 ul li{
		width: 100%;
	}
	.bg_style_5 .tabs ul li{
		margin: 10px auto !important;
	}
	.bg_style_5 .tabs ul li a img{
		width: 100%;
	}
	.bg_style_5 .tabs ul li{
		margin: 5px;
	}
	.bg_style_6 .comment{
		margin: 10px 30px;
		width: 87%;
	}
	.bg_style_6 .comment .feedback{
		width: 65%;
	}
	.bg_style_7 form input[type=text], .bg_style_7 form input[type=email]{
		width: 90%;
	}
	.footer ul li a{
		padding: 0 28px;
	}
}
@media screen and (max-width: 320px){
	.bg_style_1 .menu{
		width: 92%;
	}
	.bg_style_5 .tabs label{
		font-size: 12px;
	}
	.bg_style_7 form textarea{
		height: 150px;
	}
}
